<%- include("blocks/header.ejs", { bot: bot, title: "Report Website" }) %>
  <br>
  <h3 style="text-align: center;">We've taken down <span style="font-size: 30px; color: #ffc107;"><%= amount.toLocaleString() %></span> website until now!</h3>
  <br>
  <p style="font-size: 9; text-align: center;">Help us by reporting phising websites you see.</p>
  <p style="font-size: 7; text-align: center;">Together, we make internet safer.</p>
  <br>
  <form method="post">
    <section class="settings-section">
      <% if (alertRed) { %>
        <div class="alert-red">
          <%- alertRed %>
        </div>
        <br>
      <% } %>
      <% if (alertGreen) { %>
        <div class="alert-green">
          <%- alertGreen %>
        </div>
        <br>
      <% } %>
      <p class="settings-section-title">Website URL:</p>
      <input type="text" name="url" class="basic-input" required>
      <br><br>
      <p class="settings-section-title">Where is hosted? (optional)</p>
      <input type="text" name="host" class="basic-input">
      <br><br>
      <p>Track your report on <a href="/track" class="url">this page</a>.</p>
      <button type="submit" class="basic-btn">REPORT</button>
      <br><br>
    </section>
  </form>
<%- include("blocks/footer.ejs") %>
